<p-button (click)="visible=true">Open Dialog</p-button>

<div class="rtl-toggle">
  <label class="text-lg">RTL</label>
  <p-toggle-switch [(ngModel)]="rtlEnabled" (onChange)="toggleRTL()"/>
</div>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta eligendi provident! Ad adipisci beatae doloribus dolorum fugiat mollitia</span></p>

<p-dialog header="Dialog Header" [(visible)]="visible" modal="modal" [style]="{width: '350px'}">
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dicta eligendi provident! Ad adipisci beatae doloribus dolorum fugiat mollitia, nobis optio placeat quam quibusdam, quidem quis ullam! Aperiam, aspernatur, quae.</span><span>Autem qui quidem quos! Alias, eaque eius est eum fugit impedit in magni nam nemo odit placeat rem saepe? Autem dolor esse fugiat incidunt minima, natus odit quaerat quidem ullam.</span><span>Architecto dignissimos dolorem dolorum eum ipsam iusto maxime natus nihil, officiis praesentium, reprehenderit sed sunt suscipit unde ut? Ab aliquam aspernatur eaque impedit omnis possimus quod, reiciendis rerum sequi tempora!</span></p>

  <div>
    <p-multi-select fluid [options]="cities" appendTo="body" optionLabel="name" placeholder="Select Cities" [maxSelectedLabels]="3" styleClass="w-full md:w-80"></p-multi-select>
  </div>
  <ng-template #footer>
    <p-button icon="pi pi-check" (click)="visible=false">Close</p-button>
  </ng-template>
</p-dialog>
